  <!-- for comments -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://zetabase.io/static/assets/js/zetabase-web-latest.js"></script>
  <script src="https://zetabase.io/static/assets/js/comments.js"></script>
  <link href="https://zetabase.io/static/assets/css/commentsjs-default.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<div style="max-width: 1024px; margin: auto">
<h4>Comments</h4>
<div id="comments" class="zp-main">
  <div class="zp-inputs">
      <p>
          <span class="zp-br"> </span>
          <span class="zp-description"> </span>
      </p>
      <p class="zp-help-message"> </p>
      <p><span class="zp-input-label"> </span></p>
      <input  type="text" />
      <p><span class="zp-pass-label"> </span></p>
      <input type="password" />
      <div class="zp-comments-edit-profile">
          <p><span class="zp-textarea-description">Description</span></p>
          <textarea></textarea>
      </div>
  </div>
  <div class="zp-comments-links">
      <a class="zp-submit-link zp-form-link" href="#">submit</a>
      <a class="zp-signup-link zp-form-link" href="#">signup</a>
      <a class="zp-login-link zp-form-link" href="#">login</a>
      <a class="zp-edit-profile-link zp-form-link" href="#">edit profile</a>
  </div>
  <div class="zp-comments"></div>
</div>
</div>
<script>
  commentsify('a7892df6-37c2-4bc4-a876-0e37f25a7ece', 'cjs_token', 'comments', {layout: "standard", auth: "3pa"})
</script>
